@charset "UTF-8";

/* ----------------------------------------------------------
  Admin preview
---------------------------------------------------------- */

.wp-admin .wpu-poll-results {
    display: none;
}

/* ----------------------------------------------------------
  Text
---------------------------------------------------------- */

label[for="wpu-polls-question"] {
    display: block;
    margin-bottom: 6px;
}

input[name="wpu_polls_question"],
.answer-line input.answer-text {
    width: 100%;
}

/* ----------------------------------------------------------
  Image
---------------------------------------------------------- */

.answer-line__image .preview-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.answer-line__image:not([data-has-image="0"]) .add-image,
.answer-line__image[data-has-image="0"] .remove-image {
    display: none;
}

/* ----------------------------------------------------------
  Content
---------------------------------------------------------- */

#wpu-polls-table-votes tbody:not(:last-child) tr:last-child td {
    border-bottom: 2px solid #999;
}
