@charset "UTF-8";

/* ----------------------------------------------------------
  Admin preview
---------------------------------------------------------- */

.wp-admin .wpu-poll-results {
    display: none;
}

.wpu-poll-details-inner {
    padding-bottom: 2em;
}

/* ----------------------------------------------------------
  Text
---------------------------------------------------------- */

.wpu-polls-field-text label {
    display: block;
    margin-bottom: 6px;
}

.wpu-polls-field-text input,
.answer-line input.answer-extra,
.answer-line input.answer-text {
    width: 100%;
}

.wpu-polls-field-text[data-hidden="1"] {
    display: none;
}

/* ----------------------------------------------------------
  Image
---------------------------------------------------------- */

.answer-line__image .preview-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.answer-line__image:not([data-has-image="0"]) .add-image,
.answer-line__image[data-has-image="0"] .remove-image {
    display: none;
}

/* ----------------------------------------------------------
  Content
---------------------------------------------------------- */

#wpu-polls-table-votes tbody:not(:last-child) tr:last-child td {
    border-bottom: 2px solid #999;
}
