@charset "UTF-8";

/* ----------------------------------------------------------
  Wrapper
---------------------------------------------------------- */

.wpu-poll-main__wrapper {
    z-index: 1;
    position: relative;
}

.wpu-poll-main__wrapper:before {
    content: '';
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0.50;
    background-color: #fff;
    transition: opacity 0.3s ease;
}

.wpu-poll-main__wrapper:not(.is-loading):before {
    opacity: 0;
    pointer-events: none;
}

/* Form is loading */

.wpu-poll-main__wrapper[data-prevent-form="1"] .wpu-poll-main,
.wpu-poll-main__wrapper[data-prevent-form="1"] .wpu-poll-closed-message,
.wpu-poll-main__wrapper[data-prevent-form="1"] .wpu-poll-success-message,
.wpu-poll-main__wrapper[data-prevent-form="1"] .wpu-poll-success,
.wpu-poll-main__wrapper[data-prevent-form="1"] .wpu-poll-results {
    display: none;
}

/* Handle vote status */

.wpu-poll-main__wrapper[data-has-voted="1"] .wpu-poll-main,
.wpu-poll-main__wrapper:not([data-has-voted="1"]) .wpu-poll-success-message,
.wpu-poll-main__wrapper:not([data-has-voted="1"]) .wpu-poll-success,
.wpu-poll-main__wrapper:not([data-is-closed="1"]):not([data-has-voted="1"]) .wpu-poll-results {
    display: none;
}

/* Handle closed status */

.wpu-poll-main__wrapper[data-is-closed="1"] .wpu-poll-main,
.wpu-poll-main__wrapper[data-is-closed="1"] .wpu-poll-success-message,
.wpu-poll-main__wrapper:not([data-is-closed="1"]) .wpu-poll-closed-message {
    display: none;
}

/* ----------------------------------------------------------
  Main
---------------------------------------------------------- */

.wpu-poll-main__answers li {
    list-style-type: none;
}

.wpu-poll-main__answers .answer__inner {
    z-index: 1;
    position: relative;
    padding: 0.5em;
}

.wpu-poll-main__answer[data-disabled="1"],
[data-required-details-valid="0"] .wpu-poll-main__submit,
[data-form-valid="0"] .wpu-poll-main__submit,
[data-min-answers-locked="1"] .wpu-poll-main__submit,
[data-max-answers-locked="1"] .wpu-poll-main__answer:not([data-checked="1"]) {
    opacity: 0.50;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* ----------------------------------------------------------
  Form
---------------------------------------------------------- */

/* Optional checkbox */

.wpu-polls-comment-area[data-has-checkbox="1"]:not([data-checked="1"]) textarea[name="user_comment"] {
    display: none;
}

/* ----------------------------------------------------------
  Results
---------------------------------------------------------- */

.wpu-poll-results li {
    list-style-type: none;
}

.wpu-poll-results .answer__inner {
    z-index: 1;
    position: relative;
    padding: 0.5em;
}

.wpu-poll-results li + li {
    margin-top: 0.5em;
}

.wpu-poll-results li .percent {
    margin-left: 0.3em;
}

.wpu-poll-results li .count {
    margin-left: 0.3em;
}

.wpu-poll-results li .count:empty {
    display: none;
}

.wpu-poll-results li .count:before {
    content: '(';
}

.wpu-poll-results li .count:after {
    content: ') ';
}

/* Answer
-------------------------- */

.wpu-poll-results li .part-answer {
    z-index: 2;
    position: relative;
}

/* Background
-------------------------- */

.wpu-poll-results li .part-background {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
}

.wpu-poll-results li .part-background .bar-count {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #E0E0E0;
}
